/*!
Theme Name: Kadence Child
Theme URI: https://www.kadencewp.com/kadence-theme/
Template: kadence
Author: Kadence WP
Author URI: https://www.kadencewp.com/
Description: A child theme for the Kadence Theme.
Version: 1.0.0
License: GNU General Public License v3.0 (or later)
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: kadence-child
*/

/* Theme customization starts here
-------------------------------------------------------------- */
#view-full {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}

#view-full .button {
    /*background-color: #155e72;*/
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    padding: 13px 35px;
    display: inline-block;
    font-size: 18px;
}

#view-full .button::after {
    content: "\27A3";
    font-size: 30px;
    float: right;
    line-height: 27px;
    margin-left: 10px;
}

#view-full .button:hover {
    background-color: #d16f0b;
}


body.page-id-24 {
    background-color: #fff;
}

body:not(.home) h1 {
    color: #000;
}

body:not(.home) h2 {
    color: #000;
}


div.page_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

#trending-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    width: calc((100% - 40px) / 5);
}

div.media.discover div.card.style_1 {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    width: calc((100vw - 80px - 260px - (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))) / var(--numberOfDiscoverColumns));
    max-width: calc((var(--maxPrimaryPageWidth) - 80px - 260px - (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))) / var(--numberOfDiscoverColumns))
}

div.media.discover div.card.style_1 div.image {
    width: 100%;
    height: calc((100vw - 80px - 260px - (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))) / var(--numberOfDiscoverColumns) * 1.5);
    max-height: calc((var(--maxPrimaryPageWidth) - 80px - 260px - (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))) / var(--numberOfDiscoverColumns) * 1.5)
}

div.media.discover div.card.style_1 div.image div.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0
}

div.media.discover div.card.style_1 div.image div.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0
}

.media.discover div.card.style_1 div.content {
    width: 100%;
    padding: 26px 10px 12px;
    position: relative;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap
}

.media.discover div.card.style_1 div.content div.consensus {
    position: absolute;
    top: -19px;
    left: 10px
}

div.consensus.tight {
    width: 38px;
    height: 38px;
    box-sizing: border-box
}

.media.discover div.card.style_1 div.content h2 {
    font-size: 1em;
    margin: 0;
    width: 100%;
    word-wrap: normal;
    overflow-wrap: break-word
}

.media.discover div.card.style_1 div.content p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .6);
    width: 100%;
}

.style_1 img.poster.w-full {
    width: 100%;
    object-fit: cover;
}

div.card div.consensus.tight div.outer_ring {
    width: 38px;
    height: 38px;
    padding: 2px
}